@import "tailwindcss";

:root {
  --bg-color: #fff; /* light ivory background */
  --text-color: #333333; /* normal text */
  --heading-color: #ff7f00; /* deep kesariya */
  --primary-color: #ff9933; /* main kesariya */
  --accent-color: #ffd580; /* soft accent */
  --hover-color: #ffb84d; /* hover shade */
  --border-color: #e0d6c6; /* subtle beige border */
}

body{
  height: 100%;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: black;
  background-color: var(--bg-color);
  scrollbar: none;
  overflow-x: hidden;
}

/* This converts black to kesariya. You'd generate this using a tool. */
.image-to-orange {
  filter: brightness(0) saturate(100%) invert(56%) sepia(99%) saturate(1637%) hue-rotate(359deg) brightness(101%) contrast(102%);
}
.heading{
  @apply text-7xl text-left font-extrabold mb-10 px-5 text-(--heading-color);
}

.text{
  @apply text-lg md:text-xl mt-4 drop-shadow-md px-5 text-(--text-color);
}